<html>
   <head>
	  <link href = "jquery-ui.css" rel = "stylesheet">
	  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	  <script src = "jquery-ui.js"></script>  
	 <script>
		 $(function() {
			//disabled slider
			$( "#slider-4" ).slider({
			   orientation:"vertical"	
			});
			$( "#slider-4" ).slider('disable');
			
			//Power engine
			$( "#slider-power" ).slider({
			   orientation:"horizontal",
			   value:50,
			   slide: function( event, ui ) {
				  $( "#val-power" ).val( ui.value );
			   }	
			});
			$( "#val-power" ).val( $( "#slider-power" ).slider( "value" ) );
			
			//Electricity
			$( "#slider-elec" ).slider({
			   orientation:"horizontal",
			   value:35,
			   slide: function( event, ui ) {
				  $( "#val-elec" ).val( ui.value );
			   }	
			});
			$( "#val-elec" ).val( $( "#slider-elec" ).slider( "value" ) );
			
			//submitbutton
			$( "#button-2" ).button();
			// init accordeon
			$( "#accordion" ).accordion();
			
			// init dialogbox
			$('#dialogMsg').dialog(
			   {autoOpen: false, 
               buttons: {OK: function() {$(this).dialog("close");}},
               title: "Simulator to IOT Explorer"});
			$('#dialogMsgError').dialog(
			   {autoOpen: false, 
               buttons: {OK: function() {$(this).dialog("close");}},
               title: "Error Simulator to IOT Explorer"});
});
			   
			 
			//Sending events
			$( "#button-2" ).click(function(){
				console.log($('#val-swelldir16').val());
				
			//create a javascript object with the event field values
			var eventInfo = {"DeviceID__c": "6442819", 
							 "key__c": "trasmediterranea", 
							 "temperature__c": $('#val-swelldir16').val(), 
							 "humidity__c": $('#val-swelldir16').val(), 
							 "ts__c": "data.ts", 
							  "door__c": "data.door"
							  };
			
			console.log(eventInfo);
			//convert the object to a JSON string
			var eventInfoJson = JSON.stringify(eventInfo);
			console.log(eventInfoJson);
			
			
			$.ajax({
						type: 'POST',
						data: eventInfoJson,
				        contentType: 'application/json',
                        url: '/simulation',						
                        success: function(data) {
                            console.log('success');
                        }
                    });

		 }); 
	  </script>
   </head>
   
   <body>
   
   <div id = "dialogMsg" title = "IOT simulator">Events sent to Salesforce IOT</div>
   <div id = "dialogMsgError" title = "ERROR IOT simulator">Error ... </div>

	<form id = "formsimulator" runat = "server">
	<center><img src="images/boat2.png"/></center>
	  <div id="accordion">
	  	<h3>Identification</h3>
		<div>
		<label for = "val-mmsi">MMSI: </label><input type = "text" id = "val-mmsi" value="235 762000" style = "border:0; color:#b9cd6d; font-weight:bold;"/>		
		<label for = "val-name">Name: </label><input type = "text" id = "val-name" value="Queen Mary 2" style = "border:0; color:#b9cd6d; font-weight:bold;"/>		
		
		
		</div>
		<h3>Engine</h3>
		<div>
		<label for = "val-power">Propulsion Power: </label>
		<input type = "text" id = "val-power" style = "border:0; color:#b9cd6d; font-weight:bold;"/><div id = "slider-power"></div>
		<label for = "val-elec">Electicity: </label>
		<input type = "text" id = "val-elec" style = "border:0; color:#b9cd6d; font-weight:bold;"/><div id = "slider-elec"></div>
		</div>
		<h3>Navigation</h3>
		<div>
		<ul>
		<li><label for = "val-lat">Latitude: </label><input type = "text" id = "val-lat" value="37.199308277940034" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-lon">Longitude: </label><input type = "text" id = "val-lon" value="-0.560302734375" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-eta">ETA (Estimated Time Arrival): </label><input type = "text" id = "val-lon" value="12h33" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-navstat">Navigation Status: </label><input type = "text" id = "val-navstat" value="Good" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		</ul>
		</div>
		
		<h3>Wind</h3>
		<div>
		<ul>
		<li><label for = "val-windspeed">Speed: </label><input type = "text" id = "val-windspeed" value="12.19" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-winddir">Direction degrees: </label><input type = "text" id = "val-winddir" value="162" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-winddir16">Direction 16 points: </label><input type = "text" id = "val-winddir16" value="16" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-windgust">Gust: </label><input type = "text" id = "val-windgust" value="33" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		</ul>
		</div>
		
		<h3>Swell & Weather</h3>
		<div>
		<ul>
		<li><label for = "val-swellheigh">Height: </label><input type = "text" id = "val-swellheigh" value="2.19" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-swelldirdeg">Direction degrees: </label><input type = "text" id = "val-swelldirdeg" value="162" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-swelldir16">Direction 16 points: </label><input type = "text" id = "val-swelldir16" value="16" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		<li><label for = "val-weathertext">Weather info: </label><input type = "text" id = "val-weathertext" value="Clear Weather" style = "border:0; color:#b9cd6d; font-weight:bold;"/></li>
		</ul>		
		</div>
		
		</div>
	  </form>
	  <input type = "text" id = "status"/>
	  <center><input id = "button-2" type = "submit" value = "Send Events"></center>
   </body>
</html>